<h2 class="heading"><%= ts('About Istic') %></h2>

<div class="userstuff">
  <p>Istic's a limited company registered in the UK. It's owned by Nicholas 'Aquarion' Avenell, and mostly exists as a corporate entity for him to do things with a shield of corporate liability.</p>
</div>
