<h2 class="heading"><%= ts('Donations') %></h2>

<div class="userstuff">
  <h3>Not currently taking donations</h3>
  <p>Currently this is being done under the aegis of <a href="//istic.co">Istic Networks</a> Ltd, and we're not entirely sure how to take donations without complicated tax things. Please stand by.</p>
</div>
